* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #eee;
    font-family: sans-serif;
}

.landing-page {
    position: relative;
}

li {
    list-style: none;
    margin: 5px;
 }

 a {
    color: #000;
    text-decoration: none;
 }

 header {
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 75px;
    padding: 0px 20px;
    height: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eee;
}
.main {
    padding-top: 5%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

iframe {
margin: 0 auto;
display: flex;
align-items: center;

}

.btn {
    padding: 0 20px;
    height: 1.75rem;
    font-size: 1em;
    font-weight: 800;
    text-transform: uppercase;
    border: 0;
    border-radius: 2px;
    background-color: #f1c40f;
    cursor: pointer;
}

.feature-items {
    display: flex;
}

@media (max-width: 600px) {
    header {
        flex-wrap: wrap;
    }
}

.logo {
   width: 60vw; 
}

@media (max-width:650px) {
    .logo {
        margin-top: 15px;
        width: 100px;
        position: relative;
    }
}

.logo > img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
}

@media (max-width:650px) {
    .logo > img {
        margin: 0 auto;
    }
}

nav {
    font-weight: 300;
}

#pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.price-container {
    border: 1px black solid;
    border-radius: 2px;
    width: 100%;
    height: 50%;
    margin: 10px;
}

.price-heading {
    background-color: #ddd;
    text-transform: uppercase;
    height: 15%;
    padding: 5px;
    text-align: center;
}

.price-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    justify-content: space-evenly;
    
}

.price-desc > h2 {
    font-weight: 150;
    margin-bottom: 10px;
}

.price-desc > button {
    border: 0;
    margin: 15px 0;
    background-color: #f1c40f;
    font-weight: 400;
}

.intro > button {
    background-color: #f1c40f;
}


footer {
    margin-top: 30px;
    background-color: #ddd;
    padding: 20px;  
  }
  
  footer > ul {
      display: flex;
      justify-content: flex-end;
  }
  
  
  footer > span {
      margin-top: 5px;
      display: flex;
      justify-content: flex-end;
      font-size: 0.9em;
      color: #444;
  }
  
  .intro {
      display: block;
      align-items: center;
  }
  
  form {
      margin-top: 2%;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  input {
      padding: 5px;
      margin-bottom: 2%;
      width: 25rem;
  }
  
  #form > button {
      width: 50%;
  }